<!DOCTYPE html>
<html>
<head>
	<title>PatyPlay</title>
	<link rel="prefetch" href="/img/smiles_hover.png">
	<link rel="prefetch" href="/img/preload.png">
	<link rel="prerender" href="/img/preload.png">
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css?<?=version;?>">
</head>
<body>

	<div id="preload">
		<div class="welcome">Welcome to PatyPlay</div>
	</div>

	<div id="darker"></div>
	<div id="changelist_button" data-version="<?=version;?>"></div>
	<div id="changelist">
		<h1>PatyPlay - Changelog</h1>
		<div class="close"></div>

		<div class="news">
			<h2>МЫ ОПЯТЬ ЗАРАБОТАЛИ!<span>10.12.2018</span></h2>
			<p>- Конченный гугл обновил API и всё сломалось. Наконецто я нашёл ошибку и починил её! УРА! <br><div align="center"><img src="img/s/wow.png"></div></p>

			<h2>Update 0.36<span>26.11.2017</span></h2>
			<p>- Добавленно несколько смайлов: OgreZombie, Evrei<br>
			- Добавленна периодическая синхронизация видео.</p>

			<h2>Update 0.35<span>18.11.2017</span></h2>
			<p>- Добавлен список смайлов<br>
			- Исправлен глюк когда сообщения с большими смайлами не прокручивали чат.<br>
			- Исправлен баг когда некоторые смайлы конфликтовали друг с другом.</p>

			<h2>Update 0.34<span>13.11.2017</span></h2>
			<p>- Сервера перешли под новое комнатное управление.<br>
			- Добавлен список подключенных пользователей (Его можно открыть нажав на кнопку людей в окне чата).<br>
			- Добавленна видимость в окне пользователей, кто в данный момент смотрит видео, а кто занят своими делами. <small>[0.34.2]</small><br>
			- Добавлен счётчик текущих пользователей в комнате. <small>[0.34.3]</small></p>

			<h2>Update 0.33<span>28.10.2017</span></h2>
			<p>- Добавлена кнопка сохранить в настройках<br>
			- Смайлики теперь тоже копируються</p>

			<h2>Update 0.32<span>25.10.2017</span></h2>
			<p>- Добавлен начальный загрузочный экран<br>
			- Теперь нельзя открыть больше одной вкладки с плеером<br>
			- Добавлен смайлик <b>KappaSlava</b>, <b>KeepoSlava</b>, ValakasSon<br>
			- Теперь смайлы с надписью Blg будут читаться как Big</p>

			<h2>Update 0.31<span>20.10.2017</span></h2>
			<p>- Теперь при изменение громкости звука колёсиком мышки по видео, громкость будет изменяться по 3% (раньше 5%)<br>
			- Теперь при нажатие на поделившееся изображение, оно открывается в новом окне<br>
			- Ускоренно появляние отметки клика на видео</p>

			<h2>Update 0.30<span>19.10.2017</span></h2>
			<p>- Добавленна функция передачи кликов по видео. Для этого при зажатой кнопке CTRL нажмите на любую часть видео<br>
			- Добавленно окно списка изменений версий<br>
			- Изменены некоторые цвета на странице<br>
			- Перерисованна полоса перемотки<br>
			- Исправлен баг в котором при наведение мыши на полосу перемотки, временная подсказка "прыгала" в начало полосы</p>

			<h2>Update 0.29<span>16.10.2017</span></h2>
			<p>- Новые смайлы: Naruto, KappaNinja, KappaSoldier, Wow, Love, Slow, Wut, Frog, Illuminati, FroggyOmg, FroggySleep, FroggyCry, MegaRofl, KappaWatch<br>
			- Добавленна эксперементальная функция вставки изображений из буфера обмена</p>

			<h2>Update 0.28<span>15.10.2017</span></h2>
			<p>- Новые смайлы: KappaDark, Dendi, Story, Omfg, Cat, Dog, Rofl, Hey, Baby, God, Photo, Angry, Cry, History<br>
			- Немного обновлён Fullscreen мод.</p>

			<h2>Update 0.27<span>Давно :D</span></h2>
			<p>- При изменение цвета/ника сайт не будет перезагружаться, а также в чате все пользователи будут уведомлены о вашей смене ника</p>

			<h2>Update 0.2<span>Очень давно :DD</span></h2>
			<p>- Теперь при нажатие кнопки пробел видео ставиться на паузу/плей<br>
			- При новых нововведениях кнопушка мигает</p>
		</div>
	</div>

	<div id="page" class="p480">
		<div class="overflow"></div>
		<div id="player"></div>

		<div id="timeline">
			<div class="line"></div>
			<div class="time">00:00</div>
		</div>

		<div id="timer">
			<div class="back" title="Rewind back to 10 seconds"></div>
			<div class="forward" title="Rewind forward to 10 seconds"></div>
			<span class="current">00:00</span> / <span class="duration">00:00</span>
		</div>
	</div>


	<div id="menu">
		<div class="header">Controll panel</div>
		<div><button id="play" title="Play Video"></button></div>
		<div><button id="stop" title="Pause Video"></button></div>
		<div><button id="load" title="Load Video Link"></button></div>

		<div id="light"><div class="pointer"></div></div>
		<div id="quality">
			<div class="mq active" data-quality="p480">480p</div>
			<div class="hq" data-quality="p720">720p</div>
			<div class="full" data-quality="full">Full</div>
		</div>
		<input type="range" id="volume" min="0" max="100" step="1">
	</div>


	<div id="playlist">
		<div class="header">Playlist:</div>
		<div class="list">
			<div class="item template" data-video="{{VIDEO_ID}}">
				<div class="image"></div>
				<div class="info">
					<span class="name" title="{{NAME}}">{{NAME}}</span>
					<span class="channel">by <b>{{CHANNEL}}</b></span>
				</div>
				<div class="holder">
					<div class="play"></div>
					<div class="delete"></div>
				</div>
			</div>
		</div>
	</div>


	<div id="chat">
		<div class="header">
			<div class="users" title="Users list"><b></b><i>0</i></div>
			<div class="new" title="New Messages">0</div>
			<div class="big" title="Big Chat Mode"></div>
			<div class="setup" title="Setup"></div>
			Chat:
		</div>
		<div class="messages"></div>
		<div class="users_list"></div>
		<div class="smiles"></div>
		<div class="input">
			<input type="text" placeholder="Press ENTER to focus input...">
			<div class="smiles_open" title="Smiles"></div>
		</div>
	</div>


	<div id="loader">
		<div class="wrap">
			<h1>Enter you nickname:</h1>
			<div class="inputs">
				<input type="text" class="nickname" maxlength="11">
				<input type="color" class="color">
			</div>

			<div class="buttons">
				<button class="save">SAVE</button>
				<button class="close">CLOSE</button>
			</div>
		</div>
	</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<!-- <script src="/js/youtube_api.js"></script> -->
<script src="https://www.youtube.com/iframe_api"></script>
<script src="/js/socket.io.js"></script>
<script src="/js/main.js?<?=version;?>"></script>

</body>
</html>