body, html {
	padding: 0px;
	margin: 0px;
	font-family: "Open Sans", Roboto, Calibri, Arial;
	background: #eee;
	height: 100%;
	transition: all 1s;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
input, textarea, button {
	font-family: "Open Sans";
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.template {
	display: none !important;
}

#page {
	width: 854px;
	height: 480px;
	background: white;
	box-shadow: 0px 4px 100px rgba(0,0,0,0.4);
	border-radius: 4px;
	padding: 10px;
	padding-bottom: 2px;
	position: relative;
	transition: all 0.25s;
	user-select: none;
}
#page:hover > #timeline {
	height: 32px;
	opacity: 1;
}
#page:hover > #timer {
	top: calc(100% + 22px);
}
#page.p720 {
	width: 1280px;
	height: 720px;
	margin-top: -120px;
}

#page #player {
	/*border-radius: 4px;
	overflow: hidden;*/
	width: 100%;
	height: 100%;
}
#page .overflow {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 25;
}

#page #timer {
	position: absolute;
	width: 100px;
	height: 27px;
	background: #444;
	color: white;
	text-align: center;
	line-height: 1.8;
	left: calc(50% - 50px);
	top: calc(100% + 10px);
	font-size: 14px;
	font-weight: 300;
	box-shadow: 0px 4px 55px rgba(0,0,0,0.3);
	opacity: 0.25;
	transition: opacity 0.5s, top 0.25s;
	cursor: default;
}
#page #timer:hover {
	opacity: 1;
}
#page #timer .back,
#page #timer .forward {
	position: absolute;
	top: 0px;
	width: 28px;
	bottom: 0px;
	background: #313131;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: 50% 40%;
}
#page #timer .back {
	left: -28px;
	background-image: url("../img/rewind_back.png");
	border-bottom-left-radius: 5px;
}
#page #timer .forward {
	right: -28px;
	background-image: url("../img/rewind_forward.png");
	border-bottom-right-radius: 5px;
}



#page #timeline {
	background: #2c1337;/*#2c3e50;*/
	width: 100%;
	height: 20px;
	border: 10px solid white;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	right: 0px;
	top: calc(100% - 10px);
	border-radius: 0px 0px 4px 4px;
	border-top: 2px solid white;
	transition: all 0.25s;
	cursor: pointer;
	z-index: 50;
}
#page #timeline .line {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 0%;
	background: #5e2b74;/*#8e44ad;*/
}
#page #timeline .line::after {
	content: '';
	width: 2px;
	background-color: white;
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
#page #timeline .time {
	/* display: none; */
	line-height: 1;
	position: absolute;
	top: -24px;
	padding: 4px 15px;
	background: #fff;
	width: 70px;
	box-sizing: border-box;
	text-align: center;
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	left: calc(50% - 35px);
	opacity: 0;
	transition: opacity 0.5s;
	border: 2px solid rgb(94, 43, 116);
	border-bottom: none;
	border-radius: 4px 4px 0px 0px;
	font-weight: 300;
}
#page #timeline:hover .time {
	display: block;
	opacity: 1;
}
#page #timeline .time::before {
	content: '';
	width: 8px;
	height: 8px;
	background-color: white;
	transform: rotate(45deg);
	position: absolute;
	left: calc(50% - 4px);
	top: calc(100% - 4px);
}

.dark #page #timeline {
	border-color: #111;
}



#page .mark {
	opacity: 0;
	width: 50px;
	height: 50px;
	position: absolute;
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.25));
	transform: translateX(-35px) translateY(-35px) scale(0);
	border-radius: 100%;
	border: 10px solid black;
	transition: all 0.15s;
}
#page .mark.start {
	transform: translateX(-35px) translateY(-35px) scale(1);
	opacity: 1;
}
#page .mark.reduction {
	transition: all 0.2s;
	transform: translateX(-35px) translateY(-35px) scale(6);
	opacity: 0;
}




#menu {
	width: 500px;
	height: 70px;
	position: fixed;
	background: white;
	bottom: -95px;
	left: calc(50% - 250px);
	box-shadow: 0px 0px 50px rgba(0,0,0,0.35);
	border-radius: 4px 4px 0px 0px;
	padding: 10px;
	transition: all 0.5s;
	text-align: center;
	overflow: hidden;
	padding-top: 45px;
	z-index: 1000;
}
#menu:hover, #menu.fix {
	bottom: 0px;
}
#menu .header {
	background: #2c3e50;
	padding: 7px;
	font-size: 12px;
	font-weight: 300;
	color: white;
	width: 100%;
	position: absolute;
	box-sizing: border-box;
	left: 0px;
	right: 0px;
	top: 0px;
}

.dark #menu .header {
	background-color: #151515;
}

#menu button {
	background: #eee;
	border: 1px solid rgba(0,0,0,0.05);
	font-family: "Open Sans";
	font-weight: 400;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	text-align: center;
	color: white;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	border-bottom: 5px solid rgba(0,0,0,0.2);
	cursor: pointer;

	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px;
}

#menu div:not(.header) {
	display: inline-block;
	width: 70px;
	height: 70px;
	vertical-align: bottom;
}


#menu #play {
	background-image: url("../img/play.png");
	background-color: #27ae60;
}
#menu #stop {
	background-image: url("../img/pause.png");
	background-color: #e67e22;
}
#menu #load {
	background-image: url("../img/load.png");
	background-color: #2980b9;
}

#menu button:active {
	border-bottom: none;
	height: 65px;
	margin-top: 5px;
}

#menu #volume {
	position: absolute;
	right: -20px;
	top: 65px;
	bottom: 10px;
	width: 70px;
	height: 20px;
	-webkit-appearance: none !important;
	transform: rotate(270deg);
}

#menu #volume::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: #eee;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	border-radius: 100%;
	width: 16px;
	height: 16px;
	border: 1px solid rgba(0,0,0,0.2);
	margin-top: -6px;
}

#menu #volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;

  background: #ccc;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
}


#menu #light {
	position: absolute;
	left: 10px;
	top: 45px;
	background: #dedede;
	height: 65px;
	width: 26px;
	border: 1px solid rgba(0,0,0,0.15);
	box-sizing: border-box;
	padding: 3px;
	border-radius: 100px;
	cursor: pointer;
	transition: all 0.5s;

	background-image: url(/img/light_false.png);
	background-position: 50% calc(100% - 5px);
	background-size: 22px;
	background-repeat: no-repeat;
}
.dark #menu #light {
	background-image: url(/img/light_true.png);
	background-position: 50% 5px;
}
#menu #light .pointer {
	width: 18px;
	height: 18px;
	background: white;
	border-radius: 100%;
	transition: all 0.5s;
	position: relative;
	top: 0px;
	border: 1px solid rgba(0,0,0,0.3);
	box-sizing: border-box;
}
.dark #menu #light > .pointer {
	background: #333;
	top: 32px;
}


#menu #quality {
	position: absolute;
	left: 50px;
	top: 40px;
	width: 45px;
	height: initial;
}
#menu #quality div {
	display: block;
	width: 100%;
	height: initial;
	padding: 1px 10px;
	font-size: 12px;
	background: #ddd;
	margin: 3px;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 100px;
	font-weight: 300;
	transition: all 0.5s;
	cursor: pointer;
}
#menu #quality div.active {
	background: #2980b9;
	color: white;
}







#chat {
	width: 230px;
	height: 22px;
	position: fixed;
	background: white;
	bottom: 10px;
	right: 10px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.35);
	border-radius: 4px;
	padding: 10px;
	transition: all 0.5s;
	text-align: center;
	overflow: hidden;
	z-index: 100;
}
#chat.active {
	height: 400px;
}
#chat.big {
	width: 270px;
}
#chat.big.active {
	height: 500px;
}
#chat .header {
	margin: -10px;
	padding: 10px;
	color: white;
	background: #2c3e50;
	cursor: pointer;
	z-index: 10;
	position: relative;
	box-sizing: border-box;
}
#chat.active .header {margin-bottom: 10px;}
#chat .header .new {
	position: absolute;
	left: calc(50% - 50px);
	top: calc(50% - 12px);
	border-radius: 200px;
	background: #8e44ad;
	width: 25px;
	height: 25px;
	line-height: 2.2;
	font-size: 11px;
	display: none;
}
#chat .header .setup {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 15px;
	top: calc(50% - 10px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../img/setup.png");
	cursor: pointer;
	transition: all 0.5s;
}
#chat .header .setup:hover {
	transform: scale(1.25);
}

#chat .header .big {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 45px;
	top: calc(50% - 12px);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("../img/big.png");
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.25;
	padding: 5px 10px;
	border-radius: 3px;
}
#chat .header .big:hover {
	transform: scale(1.25);
}
#chat .header .big.select {
	background-color: rgba(255,255,255,0.1);
	opacity: 1;
}

#chat .header .users {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 15px;
	top: calc(50% - 10px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../img/users.png");
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.25;
}
#chat .header .users:hover {
	transform: scale(1.25);
}
#chat .header .users.select {
	/*background-color: rgba(255,255,255,0.1);*/
	opacity: 1;
}

#chat .users_list {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	position: absolute;
	top: 50px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #f5f5f5;
	color: #333;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.2);
	overflow-y: auto;
}
#chat .users_list.show {
	opacity: 1;
	visibility: visible;
}
#chat .users_list .user {
	padding: 8px 15px;
	font-weight: 100;
	font-size: 14px;
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#chat .users_list .user span {
	display: inline-block;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	border-radius: 100%;
	background-color: #2ecc71;
	margin-right: 10px;
	margin-top: -2px;
}
#chat .users_list .user span.false {
	background-color: #e74c3c;
}

#chat .messages {
	height: calc(100% - 70px);
	background: #f5f5f5;
	border: 1px solid rgba(0,0,0,0.1);
	border-bottom: none;
	overflow: auto;
	overflow-x: hidden;
	color: #333;
}
#chat .messages div {
	padding: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	margin-top: 1px;
	text-align: left;
	font-size: 11px;
	font-weight: 400;
	word-wrap: break-word;
	white-space: normal;
	word-break: break-word;
	padding-left: 5px;
	transition: all 0.5s;
	position: relative;
	left: 0px;
}
#chat.big .messages div {
	font-size: 14px;
}

#chat .messages div.new {
	left: 100% !important;
	transition: none;
}

#chat .messages div b {
	font-weight: 1000;
}
#chat .messages div:nth-child(even) {
	background: rgba(0,0,0,0.025);
}
#chat .messages div.join,
#chat .messages div.disc,
#chat .messages div.play,
#chat .messages div.load,
#chat .messages div.pause,
#chat .messages div.rename,
#chat .messages div.disconnect,
#chat .messages div.reconnect,
#chat .messages div.rewind {
	color: white;
	text-align: center;
	border-radius: 4px;
	margin: 3px;
}
#chat .messages div.join {
	background: #8e44ad;
}
#chat .messages div.disc {
	background: #34495e;
}
#chat .messages div.rewind {
	background: #16a085;
}
#chat .messages div.rename {
	background: #36a4bb;
}
#chat .messages div.load {
	background: #2980b9;
}
#chat .messages div.pause {
	background: #e67e22;
}
#chat .messages div.play {
	background: #1f9c3b;
}
#chat .messages div.disconnect,
#chat .messages div.reconnect {
	background: #e74c3c;
	margin: 0px;
	border-radius: 0px;
	padding: 6px;
	font-size: 12px;
}
#chat .messages div.reconnect {
	background: #27ae60;
}

#chat .messages div img {    
	height: 20px;
	vertical-align: top;
	margin: -2px 1px;
	transition: all 0.25s;
	z-index: 100;
}
#chat .messages div img:not(.big):not(.source):hover {
	padding: 5px;
	z-index: 101;
	margin: -7px -4px;
	background: white;
	border-radius: 4px;
	transform: scale(2);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.35);
}
#chat.big .messages div img {
	height: 25px;
}
#chat .messages div ul {
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
}

#chat .messages div img.big {
	width: 100px;
	height: initial;
	display: block;
	margin: auto;
}

#chat .messages div img.source {
	width: 100%;
	height: initial;
	display: block;
	margin: auto;
	cursor: pointer;
	margin-top: 4px;
}
#chat .messages div img.source:active,
#chat .messages div img.source:focus {
	/*position: fixed;
	top: calc(50% - 240px);
	left: calc(50% - 400px);
	width: 800px;
	height: 480px;
	object-fit: cover;
	z-index: 100000000;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;*/
}


#chat input {
	background: #e5e5e5;
	color: #333;
	font-weight: 400;
	font-size: 11px;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 8px;
	border-radius: 0px 0px 3px 3px;
	border: 1px solid rgba(0,0,0,0.05);
}


.dark #chat {
	background-color: #1f1e1e;
}
.dark #chat .header {
	background-color: #151515;
}
.dark #chat .messages {
	background-color: rgba(255,255,255,0.0125);
	color: white;
}
.dark #chat .users_list {
	background: #1a1a1a;
	color: white;
}
.dark #chat input {
	background-color: rgba(255,255,255,0.04);
	color: white;
}


#chat .messages::-webkit-scrollbar {
	width: 6px;
}
#chat .messages::-webkit-scrollbar-track {
	background: transparent;
	transition: all 0.5s;
}
#chat .messages::-webkit-scrollbar-thumb {
	background: transparent;
}
#chat .messages:hover::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.05);
}
#chat .messages:hover::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.15);
}


#chat .users_list::-webkit-scrollbar {
	width: 6px;
}
#chat .users_list::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.05);
	transition: all 0.5s;
}
#chat .users_list::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.15);
}
#chat .users_list:hover::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.075);
}
#chat .users_list:hover::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.225);
}


@keyframes message {
	0%: {
		left: 100%;
	}
	100%: {
		left: 0%;
	}	
}




#playlist {
	width: 220px;
	height: 32px;
	position: fixed;
	left: 10px;
	bottom: 10px;
	background: white;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.35);
	border-radius: 4px;
	padding: 5px;
	transition: all 0.5s;
	text-align: center;
	overflow: hidden;
	z-index: 100;
}
#playlist.active {
	height: 320px;
}
#playlist .header {
	margin: -5px;
	padding: 10px;
	color: white;
	background: #2c3e50;
	cursor: pointer;
	z-index: 10;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 5px;
}
body.dark #playlist {
	background: rgb(35, 35, 35);
	color: white;
}
body.dark #playlist .header {
	background: #151515;
}
#playlist .list {
	height: 86%;
	overflow: auto;
}
#playlist .list .item {
	font-size: 10px;
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.05);
	cursor: pointer;
	position: relative;
	transition: all 0.5s;
	margin-bottom: 5px;
	z-index: 100;
}
body.dark #playlist .list .item {
	background: rgba(0,0,0,0.1);
}
#playlist .list .item .image {
	width: 64px;
	height: 36px;
	vertical-align: middle;
	display: inline-block;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: -5px;
}
#playlist .list .item .info {
	width: 65%;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
#playlist .list .item .info span {
	word-wrap: break-word;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	margin-left: 5px;
	display: block;
}

#playlist .list .item .holder {
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(27, 27, 27, 0);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: all 0.5s;
}
#playlist .list .item:hover .holder {
	background-color: rgba(27, 27, 27, 0.9);
	opacity: 1;
}
#playlist .list .item .holder .play {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("../img/play_list.png");
	z-index: 99;
}

#playlist .list .item .holder .delete {
	position: absolute;
	right: 10px;
	top: 10px;
	bottom: 10px;
	width: 30px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	background-image: url("../img/list_delete.png");
	opacity: 0.2;
	transition: all 0.5s;
	z-index: 100;
}
#playlist .list .item .holder .delete:hover {
	opacity: 1;
}


#playlist .list::-webkit-scrollbar {
	width: 6px;
}
#playlist .list::-webkit-scrollbar-track {
	background: transparent;
	transition: all 0.5s;
}
#playlist .list::-webkit-scrollbar-thumb {
	background: transparent;
}
#playlist .list:hover::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.05);
}
#playlist .list:hover::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.15);
}




#loader {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.85);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100000;
	display: none;
}
#loader .wrap {
	text-align: center;
	padding: 40px;
	background: white;
	border-radius: 6px;
	box-shadow: 0px 0px 50px rgba(255,255,255,0.35);
}
#loader h1 {
	font-weight: 300;
	margin: 0px;
	margin-bottom: 20px;
}
#loader .inputs {
	position: relative;
}
#loader .nickname {
	padding: 10px;
	font-weight: 400;
	font-family: "Open Sans";
	color: #333;
	background: #eee;
	border: 1px solid rgba(0,0,0,0.05);
	width: 100%;
	box-sizing: border-box;
	font-size: 18px;
	border-radius: 5px;
	text-align: center;
}
#loader .color {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 30px;
	width: 30px;
	padding: 2px;
	border-radius: 6px;
}
#loader .buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
#loader .buttons button {
	flex: 0 49%;
	width: 49%;
	box-sizing: border-box;
	padding: 8px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	font-size: 15px;
	font-weight: 100;
	background-color: #e74c3c;
	color: white;
	cursor: pointer;
	transition: background-color 0.5s;
}
#loader .buttons button.save {
	background-color: #27ae60;
}
#loader .buttons button.full {
	width: 100%;
	flex: 0 100%;
}

#loader button:hover {
	background-color: #b73b2f;
}
#loader button.save:hover {
	background-color: #1B974F;
}




#changelist_button {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
	background-image: url("../img/changelist_black.png");
	/*background-color: rgba(0,0,0,0.025);*/
	border-radius: 100%;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: white;
	box-shadow: 0px 5px 30px rgba(0,0,0,0.25);
}
.dark #changelist_button {
	background-color: #151515;
	background-image: url("../img/changelist_white.png");
}
body #changelist_button.new {
	animation: new_change 1s infinite alternate;
	background-color: #f39c12;
}

@keyframes new_change {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.25);
	}
}


#darker {
	display: none;
	position: fixed;
	z-index: 150000;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.9);
}

#changelist {
	display: none;
	position: fixed;
	left: calc(50% - 250px);
	top: calc(50% - 300px);
	width: 500px;
	height: 600px;
	background-color: white;
	z-index: 200000;
	box-sizing: border-box;
	padding: 20px;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0,0,0,0.2);
}
#changelist h1 {
	text-align: center;
	margin: -20px;
	margin-bottom: 10px;
	background: #2980b9;
	color: white;
	font-weight: 400;
	padding: 10px;
	padding-bottom: 25px;
	padding-top: 15px;
	background: linear-gradient(to top, rgba(252,252,252,0) 0%,rgb(38, 142, 211) 100%);
	text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}
#changelist .close {
	position: absolute;
	right: 19px;
	top: 25px;
	background-image: url("/img/list_delete.png");
	background-repeat: no-repeat;
	background-size: 26px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	transition: all 0.5s;
}
#changelist .close:hover {
	transform: rotate(180deg);
}
#changelist .news {
	height: 495px;
	overflow: auto;
	width: calc(100% + 10px);
	padding-right: 10px;
	box-sizing: border-box;
}
#changelist h2 {
	margin: 0px;
	font-weight: 600;
	margin-bottom: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#changelist h2 span {
	float: right;
	color: black;
	opacity: 0.4;
	font-weight: 100;
	font-size: 14px;
	position: relative;
	top: 10px;
}
#changelist p {
	margin: 0px;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 20px;
}


#changelist .news::-webkit-scrollbar {
	border-radius: 6px;
	width: 6px;
}
#changelist .news::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.075);
	border-radius: 6px;
}
#changelist .news::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 6px;
}


#preload {
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25%;	
	background-image: url("/img/preload.png");
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 1;
	z-index: 999999999;
}
#preload .welcome {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 4vw;
	font-size: 4vw;
	font-weight: 100;
	font-family: "Open Sans";
	text-align: center;
	color: #333;
}



#page.full {
	padding: 0px;
	width: 100%;
	height: 100%;
	margin-top: 0px;
}
#page.full #timer {
	top: 0px;
	z-index: 999999;
}
#page.full #timeline {
	z-index: 99999;
	margin-top: -4px;
	border: 0px;
	bottom: 0px;
	border-color: rgb(17, 17, 17);
	border-radius: 0px;
	border-top: 2px solid black;
}

body.full #menu {
	height: 85px;
}
body.full #playlist, body.full #chat {
	bottom: 20px;
}
body.full #menu:hover, body.full #menu.fix {
	bottom: 0px;
}
#page.full #timeline:hover {
	margin-top: -10px;
}

body.dark {
	background: #222;
}

body.dark #page {
	background-color: #111;
}

@media only screen and (orientation: portrait) {
	#page .overflow {
		display: none;
	}
	/*#page {
		width: 100%;
		height: 35vh;
	}
	#chat {
		width: 100%;
		right: 0px;
		left: 0px;
	}*/
}
